.DS_Store
npm-debug.log
node_modules
*.aux
*.log
*.ltjruby
*.out
*.pdf
*.tex
*.png
*.swp
*~
*~
.DS_Store
makefile
npm-debug.log
node_modules
*.aux
*.log
*.ltjruby
*.out
*.pdf
*.tex
*.swp
*.bbl
*.blg
*.fls
*.toc
*.synctex
*.synctex(busy)
*.synctex.gz
*.fdb_latexmk
*~
*~
*.yaml
*.html
*.xhtml
lib/test.md
test.md
