// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nitrile-preview {

  // The styles below override/complement the GitHub.com styles
  // It's needed because some markup or global styles are different
  font-family: roman;
  font-size: 16px;
  color: #333;
  background-color: #888;
  overflow: scroll;

  a {
    color: #337ab7;
  }

  code {
    background-color: inherit;
    color: inherit;
    font-size: 80%;
    padding: inherit;
  }

  code.INLINE {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  tt {
    background-color: inherit;
    color: inherit;
    font-size: 80%;
  }

  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid #333;
    padding: 2px 6px;
  }

  .LSTG pre { background-color: inherit; color: inherit;
    padding-left: 3em;
    font-size: inherit;
  }
  .LSTG pre code { position: relative; }
  .LSTG pre span { position: absolute; left: -2em; font-size:small; }

  pre {
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: inherit;
    font-size: 80%;
    overflow-x: visible;
  }

  svg {
    box-sizing: border-box;
  }

  .PAGE {
    box-sizing: border-box;
    width: 8.5in;
    padding: 1.25in 1.5in 1.25in 1.5in;
    margin: 0;
    font-size: 12pt;
    background-color: white;
  }

  .TITLE {
    font-size: x-large;
    text-align: center;
  }

  .AUTHOR {
    font-size: large;
    text-align: center;
  }

  .DATE {
    font-size: large;
    text-align: center;
  }

  .PART {
    font-size: x-large;
    font-variant: small-caps;
  }

  h1.CHAPTER {
    font-size: 153%;
    font-weight: bold;
  }

  h2.SECTION {
    font-size: 140%;
    font-weight: bold;
  }

  h3.SUBSECTION {
    font-size: 120%;
    font-weight: bold;
  }

  h4.SUBSUBSECTION {
    font-size: 100%;
    font-weight: bold;
  }

  p, dl, ul, ol, blockquote, table, caption {
    line-height: 1.15;
  }

  dt, dd {
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
  }

  table tr th {
    text-align: center;
  }

  caption figcaption {
    margin: auto;
  }
}
