// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.nitrile-preview {

  padding-left:1em;
  padding-right:1em;
  font-size:12pt;

  // The styles below override/complement the GitHub.com styles
  // It's needed because some markup or global styles are different

  h1 {
    font-weight:bold;
    padding-bottom:6pt;
    font-size:2.0em;
    border-bottom:1pt solid #888;
  }

  figure {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
  }

  pre {
    margin: 1em;
  }

  p, pre, dl, ul, ol, figure, blockquote {
  }

  a {
    word-break: break-all;
  }

  code{
    font-size:.75em;
  }

  kbd{
    font-size:.75em;
    font-weight:bolder;
  }
}
